.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  font-size: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #f1f1f1;
  margin-right: 0.5rem;
}

/* Estilos para tablets (pantallas con un ancho de hasta 768px) */
@media (max-width: 768px) {
  .title {
    font-size: 4rem; /* Reduce el tamaño de la fuente */
  }

  .socialLink {
    width: 3rem; /* Reduce el tamaño de los enlaces sociales */
    height: 3rem;
  }
}

/* Estilos para móviles (pantallas con un ancho de hasta 480px) */
@media (max-width: 480px) {
  .title {
    font-size: 2.5rem; /* Reduce aún más el tamaño de la fuente */
  }

  .socialLink {
    width: 2rem; /* Reduce aún más el tamaño de los enlaces sociales */
    height: 2rem;
  }
}
